.contenedor{
    width: 100%;
    height: 1200px;
    background-color: rgb(221, 212, 78);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.encabezado{
    width: 100%;
    height: 200000px;
    background-color: pink;
    font-size: 50px;
}
.tecnologia{
    width: 100%;
    height: 1000px;
    background-color: plum;
    font-size: 20px;
}
.biologia{
    width: 100%;
    height: 100000px;
    background-color: aquamarine;
    font-size: 20px;
}
.quimica{
    width: 100%;
    height: 1000000px;
    background-color: rgb(201, 96, 96);
    font-size: 20px;
}
.matematicas{
    width: 100%;
    height: 1000000px;
    background-color: lightgreen;
    font-size: 20px;
}
.ingles{
    width: 100%;
    height: 10000px;
    background-color: mediumpurple;
    font-size: 20px;
}